<!DOCTYPE html>
<html>
<head>
    <title>Магазин рукоделия</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>
    @RenderBody()
</body>
</html>
