<div class="header">
    <div class="header_logo">
        <img class="header_logo_img" src="" alt="ЛОГО">
        <h2 class="header_logo_name">Воздушные мечты</h2>
    </div>
</div>
<div class="init_block">
    <img class="init_block_back" src="~/img/back1.jpg" alt="back">
    <div class="init_block_text">
        <h1 class="init_block_text_h1">Интернет магазин товаров для рукоделия!</h1>
        <p class="text_info_middle">от ведущих производителей</p>
        <p class="text_info">Скидка 50% на ювелирные инструменты до конца декабря!</p>
        <a><input class="init_block_text_button" type="button" value="Получить промокод на скидку!" /></a>
    </div>
</div>