<div class="header">
    <div class="header_logo">
        <img class="header_logo_img" src="" alt="ЛОГО">
        <h2 class="header_logo_name">Название магазина</h2>
    </div>
</div>
<div class="init_block">
    <img class="init_block_back" src="~/img/back1.jpg" alt="back">
    <div class="init_block_text">
        <h1>Интернет магазин рукоделия!</h1>
    </div>
</div>